<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	 <test name="Verify Login Scenarios.">
	 	<classes>
	 		<class name="com.clarion.qa.test.LoginTest"/>
	 	</classes>
	 </test>
	
	<test name="Verify that user is able to add promise and search promise, logout Sucessfully.">
	 	<classes>
	 		<class name="com.clarion.qa.test.PromiseTest"/>
	 	</classes>
	 </test>
</suite>
